@import url(/css/components/variables.css);

.about {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.about-me {
  display: flex;
  justify-content: center;
}

.about-section {
  max-width: 800px;
  margin: 2rem auto;
  padding: var(--standard-padding);
}

.about p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 1rem 0 1rem;
  text-align: justify;
}
