.post-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.post-card {
  /* margin: 2rem 2rem auto; */
  text-align: center;
  width: fit-content;
  /* border: solid 3px grey; */
  box-shadow: 5px 5px 15px -4px rgb(255, 254, 254);
}

.post-grid-container {
  display: grid;
}

.post-container img {
  /* max-width: 300px;
  max-height: 300px; */
  width: 70%;
  height: 70%;
  /* margin: 0 auto; */
}

.post-container h2 {
  font-size: 1.8rem;
  /* margin: 1rem; */
  text-align: center;
  background-color: rgb(59, 58, 57);
}

@media (max-width: 769px) {
  .post-container {
    display: flex;
    gap: 2rem;
    margin: 2rem;
    justify-content: center;
    flex-direction: column;
  }
}
