.carousel-container {
    position: relative;
    display: flex;
    justify-content: center;
    /* max-width: 1000px; */
    /* height: auto; */
    /* margin: 0 auto */
    margin: auto;
}

.carousel h1 {
    margin: 2rem 0 2rem 2rem;
}
.carousel {
    padding: 2rem;
}

.carousel-wrapper {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    max-width:1400px;
    gap: 2rem;
    padding: 2rem;
}

.carousel-slide {
    flex: 0 0 50%;
    margin: 1rem;
    scroll-snap-align: center;
 
}

.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
}

.carousel-prev {
    left: 0;
}

.carousel-next {
    right: 0;
}

 @media (max-width: 500px) {
    .carousel-wrapper {
        overflow-x: hidden;
        display: flow-root;
        justify-content: center;
        align-items: center;
    }
    .carousel-prev, .carousel-next {
        display: none;
    }
}