.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  display: block;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
}

.close {
  position: absolute;
  font-size: 4rem;
  font-weight: bold;
  cursor: pointer;
  top: 70px;
  right: 200px;
  z-index: 2;
}

@media (max-width: 550px) {
  #modalImg {
    display: block;
    max-width: 100%;
  }
}
